
.tit{
    width:100%;
    height:50px;
    line-height: 50px;
    color:#000;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.img-list{
    padding-bottom: 34px;
    box-sizing: border-box;
}
.pic-title{
    text-align: center;
    font-size: 18px;
    color: #333;
    font-weight: 700;
    margin-bottom: 15px;
}
.img-box{width:100%;margin-bottom:5px;}
.img-box img{width:100%;height:auto;}
