.tit {
  width: 100%;
  height: 32px;
  line-height: 32px;
  background: #ff7385;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.tit::before {
  content: '';
  position: relative;
  top: 4px;
  left: 0;
  width: 5px;
  height: 20px;
  background-color: #ff7385;
  display: inline-block;
  margin-right: 6px;
}
.content-wrap {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.item-wrap {
  float: left;
  width: 48%;
  text-align: center;
  position: relative;
  margin: 8px 1%;
}
.label {
  width: 100%;
  height: 32px;
  line-height: 32px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -16px;
}